*, *::before, *::after, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'header header'
        'aside main'
        'footer footer';
    grid-template-columns: 20% auto;
    grid-template-rows: 15% auto 7%;
    overflow-x: hidden;
    position: relative;
}

header {
    grid-area: header;
    background-color: blue;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}

.title{
    font-family:'Courier New', Courier, monospace ;
    color: aliceblue;
    margin-right: 20px;
    text-decoration: underline;
}

.logo{
    height:30px;
    border-radius: 10px;
}

.search-options{
    display: flex;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}

.search-options button {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: medium;
    max-height: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.search-options form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.search-options form button {
    margin: 5px 0 0 0;
    max-height: 30px;
    width: 100%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-options form select {
    border-radius: 5px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 2px 0;
}

.search-icon {
    height: 50px;
    margin-right: 15px;
    fill: white;
}

aside {
    grid-area: aside;
    background-color: red;
}

.btns-container{
    height: 100%;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.btns-container button, .dialog-container button {
    width: fit-content;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: medium;
    max-height: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    grid-area: main;
    background-color: green;
}

.notes-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

footer {
    grid-area: footer;
    background-color: grey;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.copyright h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

button:hover {
    border: 2px solid black;
}

.todo-card {
    display: flex;
    min-width: 25%;
    max-width: 40%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    background-color:aquamarine;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-style: none;
}

fieldset legend {
    margin-bottom: 5px;
}

.todo-card > * {
    margin-bottom: 20px;
}

.todo-card > *:last-child {
    margin-bottom: 0;
}

.checklist-TODO input {
    margin-right: 5px;
}

.priorityLow {
    background-color: aqua;
}

.priorityMedium {
    background-color:chartreuse;
}

.priorityHigh {
    background-color: firebrick;
}

dialog{
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#priority-dialog[open]{
    display: flex;
}

.dialog-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-container > * {
    margin-bottom: 30px;
}

.dialog-container > *:last-child{
    margin-bottom: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }